<h2>Locations:</h2>

<ul>
  <h3>Denver, Colorado, USA</h3>
  <h3>Washington, District of Columbia, USA</h3>
</ul>

<div id='justify1'>
  <div class='uk-button-dropdown' data-uk-dropdown="{justify:'#justify1'}" aria-haspopup='true' aria-expanded='false'>
    <button class='uk-button'>"Drop down description"
      <i class='uk-icon-caret-down'>v</i>
    </button>
    <div class='uk-dropdown' style='min-width: 560px; margin-left: 0px;'>
      <ul class="uk-nav uk-nav-dropdown">
        <li>place description</li>
        <li class='uk-nav-divider'></li>
      </ul>
    </div>
  </div>
</div>

<div id="my-id">

    <!-- This is the container enabling the JavaScript -->
    <div class="uk-button-dropdown" data-uk-dropdown="{justify:'#my-id'}">

        <!-- This is the element toggling the dropdown -->
        <button class="uk-button">...</button>

        <!-- This is the dropdown -->
        <div class="uk-dropdown">
          <ul>
            <li>ajodefr</li>
            <li>asdfae<li>
          <ul>
        </div>
    </div>
</div>
