<div class='search_box'>

  <select id='activity-select'>
    <option value='Mountain Biking'>Mountain Biking</option>
    <option value='Campgrounds'>Campgrounds</option>
    <option value='Hiking'>Hiking</option>
    <option value='Trail Running'>Trail Running</option>
    <option value='Skiing / Snowboarding'>Skiing / Snowboarding</option>
    <option value='Caving'>Caving</option>
    <option value='Horseback Riding'>Horseback Riding</option>
  </select>

  <form id='search'>
    <input type='search' placeholder='Search a City' id='city-search'>
    <input type='submit' value='Search'>
  </form>



</div>
