<div class='main-div'>

  <div class='search-box'>

    <p><h1>Design your own personalized experience.</h1>Search thousands of outdoor recreation points of interest including trails, campgrounds, and ski resorts by area and plan your trek. </p>

    <select id='activity-select'>
      <option value='Mountain Biking'>Mountain Biking</option>
      <option value='Campgrounds'>Campgrounds</option>
      <option value='Hiking'>Hiking</option>
      <option value='Trail Running'>Trail Running</option>
      <option value='Skiing / Snowboarding'>Skiing / Snowboarding</option>
      <option value='Caving'>Caving</option>
      <option value='Horseback Riding'>Horseback Riding</option>
    </select>

    <form id='search'>
      <input type='search' placeholder='Search Location' id='city-search'>
      <input type='submit' value='Search'>
    </form>

    <!-- hide this until ^ search form submit -->
    <%= form_tag '/', method: :post do %>
      <%= hidden_field_tag(:search, params[:search]) %>
      <%= submit_tag '<3', data: { confirm: "Saved to My Treks!"}, :class => "favorite" %>
    <% end %>

  </div>
</div>
