/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  text-decoration: none;
}
html{
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  text-align: center;
  background: #E9E5DD;
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: white;
}

nav {
  background-image: url("http://www.zicasso.com/sites/default/files/styles/original_scaled_down/public/headerimages/tour/Costa-Rica-Monteverde-Cloudforest-Bridge-and-Hiker-LT-Header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 35%;
  /*height: 140px;*/
  height: 20%;
}

nav, ul {
  padding: 0px;
  margin: 0 auto;
}

a{
  font-size: 18px;
  font-weight: 200;
  color: white;

}

.logo a{
  font-family: 'Rancho', cursive;

}
.logo, ul > div > a {
  color: white;
  font-size: 110px;
  float: left;
  margin: 0 0 0 20px;
}

ul > a {
  float: right;
  margin: 10px 20px 0 0;
}

.search-box {
  width: 400px;
  color: #333036;
  /*clear: both;*/
  /*float: none !important;*/
  margin: 0 auto;
}

.search-box > h1 {
  font-family: 'Rancho', cursive;
  font-size: 55px;
  margin: 0;
}

#user_email, #user_password, #search, #activity-select, #city-search, #search > input {
  width: 200px;
  height: 30px;
  font-family: 'Open Sans',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0 auto;

}

#search > input:nth-child(2){
  width: 70px;
}

#search {
  height: 20px;
  text-align: center;
}

.favorite {
  display: inline-block;
  margin: 41px;
  width: 33px;
  font-size: 18px;
  text-align: center;
  background: black;
  color: white;

}

.main-div > img {
  /*margin: 20px;*/
  margin: 0 auto;
}

.main-div {
  background: #E9E5DD;
  /*height: 400px;*/
  /*height: 60%;*/
}

.results-div {
  background: #95BDF8;
  clear: both;
}

.results-div > p > img {
  height: 170px;
  width: 170px;
  float: left;
  clear: both;
  margin: 0 10px 0 0;
}

.results-div > p > a {
  display: block;
  font-size: 25px;
}

.results-div > p {
  width: 80%;
  display: inline-block;
  text-align: left;
  height: 160px;
  font-size: 20px;
}

p > p {
  font-size: 15px;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

footer {
  height: 80px;
  /*height: 20%;*/
  background-image: url("http://www.zicasso.com/sites/default/files/styles/original_scaled_down/public/headerimages/tour/Costa-Rica-Monteverde-Cloudforest-Bridge-and-Hiker-LT-Header.jpg");
  background-position: bottom;
  background-size: 100%;
  padding: 1rem;
  text-align: left;
  font-size: 18px;
}

footer > p {
  margin: 1px;
  text-align: left;
  display: inline-block;
  clear: both;
}

footer > a {
  float: right;
  clear: both;
}
