/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  background: #E9E5DD;
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 10px;
  font-size: 20px;
  color: white;
}

header {
  background-image: url("http://www.zicasso.com/sites/default/files/styles/original_scaled_down/public/headerimages/tour/Costa-Rica-Monteverde-Cloudforest-Bridge-and-Hiker-LT-Header.jpg");
  font-family: 'Rancho', cursive;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

header, nav, ul {
  padding: 0px;
  margin: 0 auto;
  height: 140px;
}

.logo, ul > div > a {
  color: white;
  font-size: 110px;
  float: left;
  margin: 0 0 0 20px;
}

ul > a {
  color: white;
  font-size: 25px;
  float: right;
  margin: 10px 20px 0 0;
}

.search-box {
  width: 200px;
  margin: 120px 80px 80px 170px;
  float: left;
  clear: both;
}

#search, #city-search  {
}

#search > input, #activity-select {
  background-color: black;
  color: white;
}

#user_email, #user_password, #search, #activity-select, #city-search, #search > input {
  width: 200px;
  height: 30px;
  font-family: 'Open Sans',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 18px;
  text-align: center;
}

#search > input:nth-child(2){
  width: 70px;
}

form {
}

.main-div > img {
  margin: 20px 210px 20px 20px;
  float: right;
}

.main-div {
  background: #E9E5DD;
  height: 455px;
}

.results-div {
  background: #95BDF8;
  padding: 20px;
}

.results-div > p > img {
  height: 30px;
  width: 30px;
  display: inline-block;
}

p {
s  margin: 20px;
  text-align: left;
}

footer {
  height: 80px;
  background-image: url("http://www.zicasso.com/sites/default/files/styles/original_scaled_down/public/headerimages/tour/Costa-Rica-Monteverde-Cloudforest-Bridge-and-Hiker-LT-Header.jpg");
  font-family: 'Rancho', cursive;
  background-position: bottom;
  background-size: 100%;
  margin-top: 110px;
}

footer > a {
  font-size: 25px;
  color: white;
  float: left;
  margin: 10px 20px 10px 20px;

}
